<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772394388485-vti0f37ekqggch6hh96u4sti426h85vs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772394388485-vti0f37ekqggch6hh96u4sti426h85vs</string>
	<key>API_KEY</key>
	<string>AIzaSyDK8oNuyZ1jrZ3_iUyZXro97ZuyYsoaJHI</string>
	<key>GCM_SENDER_ID</key>
	<string>772394388485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kuwaitElearing</string>
	<key>PROJECT_ID</key>
	<string>client-project-test-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>client-project-test-firebase.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772394388485:ios:a448c7930f89027830e06c</string>
</dict>
</plist>